$evenColor: #f0dab5;
$oddColor: #b58763;
$cellSize: 100px;

.board {
  width: 100%;

  &__field {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
  }

  &__score {
    position: absolute;
    top: 10px;
    left: 0;

    h2 {
      padding-left: 5px;
      color: #732221;
    }
  }

  &__container {
    border: 25px solid #732221;
    position: relative;
  }
  &__row {
    display: flex;
  }
  &__cell {
    width: $cellSize;
    height: $cellSize;
    display: flex;
    align-items: center;
    justify-content: center;

    &_e {
      background: $evenColor;
    }

    &_o {
      background: $oddColor;
    }
  }
  &__nums {
    position: absolute;
    top: 0;
    left: -18px;
    color: #f0dab5;

    & div {
      height: $cellSize;
      width: 20px;
      line-height: $cellSize;
    }
  }
  &__letters {
    position: absolute;
    bottom: -20px;
    right: 0;
    color: #f0dab5;
    display: flex;

    & div {
      width: $cellSize;
      height: 20px;
      text-align: center;
    }
  }
  &__move {
    display: inline-block;
    padding: 10px;
    background: lavenderblush;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    cursor: pointer;
  }
}

.score {
  display: flex;
  & > div {
    padding: 5px 8px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
  }
  &__white {
    border-right: 3px solid #732221;
  }

  &__red {
  }
  &__elem {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 5px 0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    &_w {
      background: red;
    }

    &_r {
      background: white;
    }
  }
}

/* The switch - the box around the slider */
.switch {
  &__player {
    position: absolute;
    top: 15px;
    right: 20px;
    h2 {
      color: #732221;
    }
    & .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;

      /* Hide default HTML checkbox */
      & input {
        display: none;
      }

      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #732221;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      input:checked + .slider {
        background-color: red;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px red;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
    }
  }
}
